@model Varliklar.Somut.Blog

@{
    ViewBag.Title = "UpdateBlog";
    Layout = "~/Views/Shared/_Panel.cshtml";
}

<h2>Update Blog</h2>
<div class="card radius-10">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <div>
                <h5 class="mb-0">Update This Blog</h5>
            </div>
            <div class="font-22 ms-auto">
                <i class="bx bx-dots-horizontal-rounded"></i>
            </div>

        </div>
        <hr>
        @using (Html.BeginForm("UpdateBlog", "AdminBlog", FormMethod.Post))
        {
             @Html.TextBoxFor(b=>b.BlogID,new {@type="hidden" })
            <label>Blog Title</label>
            <br />
            <br />
            @Html.TextBoxFor(b => b.BlogTitle, new { @class = "form-control", placeholder = "Enter Blog Title", required = "required" })
            <br />
            <label>Blog Author</label>
            <br />
            <br />
            @Html.DropDownListFor(b => b.AuthorID, ((List<SelectListItem>)ViewBag.yazar), new { @class = "form-control", placeholder = "Choose Author" })
            <br />
            <label>Blog Category</label>
            <br />
            <br />
            @Html.DropDownListFor(b => b.CategoryID, ((List<SelectListItem>)ViewBag.kategori), new { @class = "form-control", placeholder = "Choose Category", required = "required" })
            <br />
            <label>Blog Content</label>
            <br />
            <br />
            @Html.TextAreaFor(b => b.BlogContent, 3, 6, new { @class = "form-control", placeholder = "Enter Blog Content", required = "required" })
            <br />
            <input type="submit" value="Update Blog" class="btn btn-primary" />
        }

    </div>
</div>


